/* https://flatuicolors.com/palette/in */

.nav div {
    display: inline-block;
    margin: 0;
    padding: 10px 15px;
    cursor: pointer;
}

.nav .active {
    background-color: #55E6C1;
}

#address {
    font-size: 14px;
}

#qrcode {
    margin: 10px;
}

.hidden {
    display: none;
}

#mnemonic {
    font-family: monospace;
    padding: 20px;
}

.backup table td {
    padding: 5px 20px;
}

.backup input {
    width: 300px;
}
