/* https://flatuicolors.com/palette/in */

.hidden {
    display: none;
}

td {
    vertical-align: top;
    padding: 10px;
}

.error {
    color: #FD7272;
}

.warning {
    color: #F97F51;
}

.nav div {
    display: inline-block;
    margin: 0;
    padding: 10px 15px;
    cursor: pointer;
}

.nav .active {
    background-color: #55E6C1;
}

.wallets label {
    display: block;
}

.receive .address {
    font-size: 14px;
}

.receive .qrcode {
    margin: 10px;
}

.backup .mnemonic {
    font-family: monospace;
    padding: 20px;
}

.backup table td {
    padding: 5px 20px;
}

.backup input,
.new input[type="text"] {
    width: 300px;
}
